<div class="page error-bg">
    <!-- Start::error-page -->
    <div class="error-page">
        <div class="container">
            <div class="my-auto">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-xl-4">
                        <p class="error-text mb-4 text-gradient">404</p>
                        <p class="fs-3 fw-normal mb-3 text-fixed-white">{{ 'Error404.Title' | translate }}</p>
                        <p class="fs-15 text-fixed-white mb-5 op-8">{{ 'Error404.Description' | translate }}</p>
                        <a routerLink="/sales/invoice" class="btn btn-primary-ghost">
                            <i class="ri-arrow-left-line align-middle me-1 d-inline-block"></i>
                            {{ 'Error404.BackToHome' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>